<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        .pub img {
            width:100%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">B.I.D.E.</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/jokes">Les blagues hors contexte</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-top: 6px">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-tag"></span>
                        Ajouter une blague
                    </button>
                    <div class="dropdown-menu p-4 form-group">
                        <div style="margin: 5%;">
                            <form method="POST" action="/addjoke">
                                <div class="col-mb-12">
                                    <label for="Joke">Blague :</label>
                                    <textarea type="text" class="form-control" rows="5" id="Joke" name="Joke" placeholder="Ex: Slowmolosse est beau"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            </form>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-2 well">
                <h4 style="color: red; text-decoration: underline;">Récompenses</h4>
                <p>Chaque mois, le numéro 1 peu gagneeeeeeeer....</p>
                <p>Le droit de bien aller se faire foutre !</p>
                <br/>
                <small>Tu pensais quoi ? qu'on allait offrir des trucs ?</small>
            </div>
            <div class="col-sm-7">

                <div class="row">
                    <div class="col-sm-12">
                        <h3>Liste des bon blagueurs qu'on aime bien quand même</h3>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" colspan="1">#</th>
                                <th scope="col" colspan="7">Blague</th>
                                <th scope="col" colspan="3" class="text-center">Score</th>
                                <th scope="col" colspan="1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for joke, index in jokes %}
                            <tr>
                                <td colspan="1" scope="row">{{ index }}</td>
                                <td colspan="7">
                                    {{ joke[0] }}
                                </td>
                                <td colspan="3">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">
                                            <a href="/vote?joke={{joke[2]}}&action=moins" class="btn btn-primary">-</a>
                                        </div>
                                        <div class="col-sm-8 text-center">
                                            {{ joke[1] }}
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="/vote?joke={{joke[2]}}&action=plus" class="btn btn-primary">+</a>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <a href="/removeUser/?joke={{joke[2]}}" class="trash">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-3 well">
                <h4>Contenu sponsorisé</h4>
                <div class="well pub">
                    <img src="{{ url_for('static', filename='img/evier.jpg') }}" alt="">
                    <p>Les médecins la déteste ! Elle a perdu 20... <span style="color: blue;">voir plus</span></p>
                </div>
                <div class="well pub">
                    <img src="{{ url_for('static', filename='img/THUUUNE.jpg') }}" alt="">
                    <p>Découvrez comment gagner plein d'argent en ligne ! <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">voir plus</a></p>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Copyright - 2020 - Urlab</p>
    </footer>

</body>

</html>
